<!DOCTYPE html>
<html>
  <head>
    <title>Glaz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <main class="main" id="top">
        <div class="container" data-layout="container">
          <%= render "partials/sidebar" %>
          <div class="content">
            <%= render "partials/topbar" %>
            <div class="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
